
body{
    grid-template-columns: 80% 20%;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}